.loadingOverlay {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 9999;
}

.logo {
	width: 120px;
	margin-bottom: 40px;
}

.loading {
	position: absolute;
	bottom: 80px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.loadingBar {
	width: 200px;
	height: 4px;
	background: rgb(255  255 255 / 0.15);
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 10px rgb(0 0 0 / 0.5);
}

.loadingBar::after {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	width: 50%;
	height: 100%;
	background: linear-gradient(
									to right,
									transparent,
									rgb(255 255 255 / 0.8),
									transparent
	);
	animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
	0% {
		left: -50%;
	}
	50% {
		left: 100%;
	}
	100% {
		left: 100%;
	}
}