.sidebar {
    position: relative;
    background: var(--background-chat-list-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid rgb(96 96 96 / 0.5);
    z-index: 999;
    flex-shrink: 0;
    user-select: none;
    overflow: hidden;
}

.resizer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
    cursor: ew-resize;
    background-color: transparent;
    z-index: 1000;
}

.sidebarHeader {
    padding: 9px;
    border-bottom: 1px solid rgb(96 96 96 / 0.5);
}

.headerControls {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
}

.searchBarWrapper {
    flex: 1;
    min-width: 120px;
}

.sidebarChats {
    flex-grow: 1;
    overflow-y: auto;
    padding: 8px 12px;
}

.sidebarFooter {
    padding: 6px;
    border-top: 1px solid rgb(96 96 96 / 0.5);
}

.chatList {
    padding: 16px;
    background-color: #2a2a2a;
    border-radius: 8px;
}

.chatItem {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
}

.chatAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.chatInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatName {
    font-size: 16px;
    font-weight: bold;
}

.chatMessage {
    font-size: 14px;
    color: var(--primary-color);
}

.userInfo {
    display: flex;
    align-items: center;
}

.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.username {
    font-size: 16px;
    font-weight: bold;
}

.status {
    font-size: 14px;
    color: var(--primary-color);
}

.createWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .sidebarHeader {
        padding: 8px;
    }

    .headerControls {
        gap: 8px;
    }

    .searchBarWrapper {
        min-width: unset;
    }
}