.messageGroup {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 8px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease, transform 300ms ease;
}

.messageGroupHeader {
    font-size: 14px;
    color: rgb(176 176 176 / 1);
    margin-bottom: 4px;
}

.animatedGroup {
    opacity: 0;
    transform: translateY(12px);
    transition: opacity 300ms ease, transform 300ms ease;
}
