.chat-list {
  display: flex;
  flex: 1;
  overflow-y: auto;
  padding: 10px 10px;
  flex-direction: column;
  min-height: 100%;

  &.collapsed {
    padding: 8px;
    align-items: center;

    .chat-item {
      margin-bottom: 12px;
      justify-content: center;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 3px;
  }
}

.no-chats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  --emoji-size: 120px;
  font-size: 0;
}

.main-text {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.sub-text {
  font-size: 14px;
  color: #888;
}