.emptyChat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  color: var(--primary-text-color);
  padding: 20px;
  box-sizing: border-box;
}

.emptyChatContainer {
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  font-weight: 700;
  padding: 10px;
  --emoji-size: 100px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 8px;
  color: var(--primary-text-color);
}

.description {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 300px;
  color: var(--lightgray-color);
}

@media (max-width: 768px) {
  .emptyChat {
    padding: 16px;
  }

  .icon {
    --emoji-size: 8vh;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
    max-width: 250px;
  }
}