.dropdown {
  position: absolute;
  right: 10px;
  top: calc(100% + 8px);
  z-index: 1000;
}

.menu {
  min-width: 200px;
  backdrop-filter: blur(50px);
  background: rgb(25 25 25 / 0.85);
  border: 1px solid rgb(96 96 96 / 0.15);
  border-radius: 5px;
}

.item {
  display: flex;
  width: 100%;
  padding: 6px 10px;
  background: none;
  border: none;
  font-weight: 200;
  font-size: 16px;
  color: var(--lightgray-color);
  text-align: left;
  cursor: pointer;
  transition: background 0.2s ease;

  & img {
    padding-right: 10px;
  }

  &:hover {
    background: rgb(40 40 40);
  }
}