.actionPopup {
  z-index: 1000;
  background: rgb(46 46 46 / 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px 13px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.2);
  width: max-content;
  max-width: 200px;

  &.authorMessage {
    right: 50px;
  }

  &.receiverMessage {
    left: 53px;
  }

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--gray-color);
    font-size: 12px;
    opacity: 0.8;
    transition: opacity 0.2s, transform 0.2s;

    &:hover {
      opacity: 1;
      transform: translateY(-2px);
      scale: 1.1;
    }

    img {
      width: 20px;
      height: 20px;
    }

    span {
      color: inherit;
      font-size: 12px;
    }
  }

  .deleteMessage {
    color: var(--danger-color);
  }
}