* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", sans-serif;
	color: var(--primary-color);
	background-color: #0a0a0a;
	--primary-color: #ececec;
	--branded-color: #4a89ff;
	--secondary-color: rgba(14, 14, 14, 0.25);
	--danger-color: #f24747;

	--gray-color: rgba(236, 236, 236, 0.5);
}
