.chatItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
  border-radius: 10px;

  &:hover {
    background-color: rgb(0 0 0 / 0.1);
    transform: scale(0.98);
  }

  &.collapsed {
    justify-content: center;
    padding: 8px;

    .chatInfo {
      display: none;
    }

    .chatAvatar {
      margin-right: 0;
    }
  }
}

.activeChat {
  background-color: rgb(182 182 182 / 0.1);
  padding: 10px 15px;
  border-radius: 10px;
}

.chatAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chatInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  margin-left: 10px;
  user-select: none;
  pointer-events: none;
}

.chatNameWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.chatName {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color);
  --emoji-size: 16px;
}

.chatMessage {
  color: var(--gray-color);
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 100%;
}

.channelTypeIcon {
  width: 16px;
  height: 16px;
  opacity: 0.7;
  flex-shrink: 0;
}

.chatMessageAuthor {
  font-weight: 300;
  font-size: 16px;
  color: var(--lightgray-color);
}
