@use "../../../scss/variables" as *;

%button-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 14px;
  width: 368px;
  height: 44px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.25s linear;
  color: $primary-color;
  font-weight: 600;
  font-size: 16px;

  &:hover {
    opacity: 0.75;
  }
}

.buttonPrimary {
  @extend %button-base;
  background: $primary-color;
  color: #080808;
}

.buttonBranded {
  @extend %button-base;
  background: $branded-color;
}

.buttonSecondary {
  @extend %button-base;
  border: 1px solid rgb(96 96 96 / 0.5);
  background: rgb(14 14 14 / 0.25);
}

.buttonDanger {
  @extend %button-base;
  background: $danger-color;
}

.buttonIcon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.buttonText {
  display: inline-block;
}

.buttonDisabled {
  opacity: 0.3;
}

.centerText {
  justify-content: center !important;
  text-align: center;
}